SMTP_USERNAME=asd
SMTP_PASSWORD=asd
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_EMAIL_TOKEN=
CLOUDFLARE_API_DNS_TOKEN=
RUBY_ENV=development
EXCEPTION_REPORTING_EMAIL=
DOMAIN=
ACME_URL=https://acme-staging-v02.api.letsencrypt.org/directory
#ACME_URL=https://acme-v02.api.letsencrypt.org/directory
